<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>460586200831-c12qc3jgbuj4nd2ajast6aj8abn9rjus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460586200831-c12qc3jgbuj4nd2ajast6aj8abn9rjus</string>
	<key>API_KEY</key>
	<string>AIzaSyDVXfZZIc40-tUVB6uLtu73UAAE0SSmzhI</string>
	<key>GCM_SENDER_ID</key>
	<string>460586200831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hanyang.HyuJokbo</string>
	<key>PROJECT_ID</key>
	<string>hyujokbo</string>
	<key>STORAGE_BUCKET</key>
	<string>hyujokbo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:460586200831:ios:e26452d742f40e1a</string>
	<key>DATABASE_URL</key>
	<string>https://hyujokbo.firebaseio.com</string>
</dict>
</plist>